<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task.xsd">


    <!-- 对包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能 -->
    <mvc:annotation-driven/>
    <context:component-scan base-package="cn.edu.nju.charlesfeng.controller"/>

    <!-- task任务扫描注解，用于日常定期更新 -->
    <task:annotation-driven/>
    <context:component-scan base-package="cn.edu.nju.charlesfeng.task"/>

    <!-- 注册用于支持基于注解的控制器请求处理方法的bean对象，激活@Controller模式 -->
    <mvc:annotation-driven conversion-service="conversionService"/>
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="formatters">
            <set>
                <bean class="cn.edu.nju.charlesfeng.spring.formatter.UserTypeFormatter">
                </bean>
                <bean class="cn.edu.nju.charlesfeng.spring.formatter.ScheduleItemTypeFormatter">
                </bean>
                <bean class="cn.edu.nju.charlesfeng.spring.formatter.OrderTypeFormatter">
                </bean>
                <bean class="cn.edu.nju.charlesfeng.spring.formatter.ContentNotChoseSeatsFormatter">
                </bean>
                <bean class="cn.edu.nju.charlesfeng.spring.formatter.CouponFormatter">
                </bean>
                <bean class="cn.edu.nju.charlesfeng.spring.formatter.OrderWayFormatter">
                </bean>
            </set>
        </property>
    </bean>

    <!-- don't handle the static resource -->
    <mvc:default-servlet-handler/>
</beans>